<!DOCTYPE html>
<html>
<head>
  <title>Hangman Extreme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/favicon.ico" rel="shortcut icon" />
  <link href="/assets/application.css" media="all" rel="stylesheet" />
</head>
<body class="ui-page-active">
<% if flash('feedback_flash')[:notice] %>
  <div class="alert alert-info" style="color:#00008b;"><%= flash('feedback_flash')[:notice] %></div>
<% end %>

<%= yield %>

<ul>
  <li>
    <a href="/" id="home">back</a>
  </li>
</ul>
</body>
</html>
